<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>PhoneStore</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          rel="stylesheet" type="text/css"/>
</head>

<body>
<header th:insert="templates/header :: header" ></header>

<main>
    <div class="phones_title">
        <div class="phones_title_text">
            <h1>Phones</h1>
        </div>
    </div>
    <div class="products-page">
        <div class="container_phones">
            <ul class="goods">
                <li th:each="product : ${products}" class="product hover-effect1">
                    <a th:href="@{/products/{id}(id=${product.getId()})}">
                        <div class="product__supcontainer">
                            <img
                                class="product__image"
                                th:src="${product.getName().replaceAll(' ', '') + '.png'}"
                            />
                        </div>
                    </a>
                    <div class="product__subcontainer">
                        <h5 th:text="${product.getName()}" class="product__title"></h5>
                        <h6 th:text="${product.getCompany() }" class="product__subtitle"></h6>
                        <div class="product__prices">
                            <span
                              th:text="${product.getPrice()} + ' руб.'"
                              class="product__newprice">
                            </span>
                        </div>
                        <div class="product__buttons">
                            <button class="product__buttons-box transition">Купить</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="filter">
            <div class="filter-menu">
                <div class="filter-categories">
                    <span class="filter-title">Серия</span>
                    <div class="filter-small-title">
                        <span style="" class="niceCheck">
                            <input class="checkbox-input" type="checkbox"
                                   name="SERIES[]"
                                   value="iphone-12-pro">
                             <label class="checkbox-label">iPhone 7</label>
                         </span>
                        <br class="clear"/>
                    </div>
                    <div class="filter-small-title">
                        <span style="" class="niceCheck">
                            <input class="checkbox-input" type="checkbox"
                                   name="SERIES[]"
                                   value="iphone-12-pro">
                             <label class="checkbox-label">iPhone 8</label>
                         </span>
                        <br class="clear"/>
                    </div>
                    <div class="filter-small-title">
                        <span style="" class="niceCheck">
                            <input class="checkbox-input" type="checkbox"
                                   name="SERIES[]"
                                   value="iphone-12-pro">
                             <label class="checkbox-label">iPhone X</label>
                         </span>
                        <br class="clear"/>
                    </div>
                    <div class="filter-small-title">
                        <span style="" class="niceCheck">
                            <input class="checkbox-input" type="checkbox"
                                   name="SERIES[]"
                                   value="iphone-12-pro">
                             <label class="checkbox-label">iPhone 11</label>
                         </span>
                        <br class="clear"/>
                    </div>
                </div>
                <span class="filter-title">Цена, ₽</span>
                <div class="filter-price-bars">
                    <input type="text" name="min_price" class="filter-price" placeholder="30 000" value="">-
                    <input type="text" class="filter-price" name="max_price" placeholder="120 000" value="">
                </div>
                <button class="btn btn-outline-secondary">Показать результат</button>
            </div>
        </div>
    </div>
</main>

<footer th:insert="templates/footer :: footer" ></footer>
</body>
</html>
