html,
body {
  padding: 0;
  margin: 0;
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img,
ul,
p {
  padding: 0;
  margin: 0;
}

.header {
  margin-bottom: 7vh;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.header__menu {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__submenu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 400px;
}

.header a {
  color: #999;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.header a:hover {
  color: #fff;
  text-decoration: none;
}
nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
}

/* отображаем выпадающий список при наведении */
nav ul li:hover > ul {
  display:inherit;
}

/* первый уровень выпадающего списка */
nav ul ul li {
  min-width:170px;
  float:none;
  display:list-item;
  position: relative;
}

.container {
  width: 960px;
}

.container_phones {
  width: 960px;
  margin-left: 10vh;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 88vh;
  background: url("static/background.png") 30% 30%;
  background-size: cover;
}

.promo__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 10px;
  height: 5vh;
}

.footer__menu-ul {
  list-style: none;
}


.footer__menu-ul li+li{
  margin-top: 5px;
}

.footer__menu-ul a {
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: #999999;
}

.footer__menu-ul a:hover {
  text-decoration: none;
  color: #000000;
}

.bottom__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bottom__copyright {
  margin-left: 10px;
  text-transform: uppercase;
}

.hover-effect1 {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.hover-effect1:hover {
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow:0 0 10px #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#phones {
  margin: 7vh 0 0 0;
}

.goods {
  margin: 0 auto;
  height:auto;
  list-style: none;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr;
}
.phones_title {
  margin: 14vh 0 0 0;
  width: 100%;
  height: auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.phones_title_text {
margin-left: 14vh;
}
.product {
  padding: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.product__title {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: -4px;
}
.product__subtitle {
  color: #a0a0a0;
}
.product__image {
  width: 35%;
  transition: 0.5s;
}
.product__supcontainer {
  margin: 0vh;
  height: 210px;
  position: relative;
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.product__subcontainer {
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
}
.product__prices {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.product__newprice {
  font-size: 1.5em;
  font-weight: 600;
}
.product__oldprice {
  font-size: 1em;
  margin-right: 10px;
  text-decoration: line-through;
  text-decoration-color: red;
}
.product__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product__buttons-box {
  font-size: 1em;
  font-weight: 700;
  width: 100%;
  border: none;
  background-color: rgba(86, 157, 239, 0.53);
  border-radius: 20px;
  padding: 5px 0;
  transition: background 0.5s ease, box-shadow 6s;
}

.product__buttons-box:hover {
  background-color: #569def;
}

.transition:hover {
  transition: 1s;
  border: none;
}
.product__instock {
  margin-top: 20px;
  color: rgb(0, 255, 0);
  font-weight: 500;
}